body {
  padding-top: 70px;
}

#carousel-example-generic {
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .section {
    margin-bottom: 20px;
  }
  .section-image {
    float: left;
    width: 20%;
  }
  .section:nth-of-type(even) .section-image {
    float: right;
  }

  .section:nth-of-type(odd) .section-image {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .section-image {
    width: 80%;
    margin: 0 auto;
  }
  .section {
    text-align: center;
  }
}
